{% load static %}

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Blog de Notícias{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'blog_app/style.css' %}">
</head>
<body>
  <header>
    <h1><a href="{% url 'post_list' %}">Notícias do Palmeiras</a></h1>
    <nav>
      <a href="{% url 'post_list' %}">Posts</a>
      <a href="{% url 'category_list' %}">Categorias</a>
      <!-- link para categorias será adicionado depois -->
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <small>Feito para segunda entrega</small>
  </footer>
</body>
</html>
